<link rel="stylesheet" href="/css/auth.css">
<h1>Login</h1>
<form action="" id="loginForm">
    <label for="loginEmail">Email:</label>
    <input type="text" id="loginEmail">
    <label for="loginPassword">password:</label>
    <input type="password" id="loginPassword">
    <button>Login</button>
</form>

<script src="/js/login.js"></script>