<link rel="stylesheet" href="/css/auth.css">
<h1>Signup</h1>
<form action="" id="signupForm">
    <label for="signupEmail">Email:</label>
    <input type="text" id="signupEmail">
    <label for="signupPassword">password:</label>
    <input type="password" id="signupPassword">
    <label for="signupDisplayName">display name:</label>
    <input type="text" id="signupDisplayName">
    <label for="signupLat">latitude:</label>
    <input type="number" step="any" id="signupLat">
    <label for="signupLng">longitude:</label>
    <input type="number" step="any" id="signupLng">
    <button type="button" id="getCurrPos">Use Current Position</button>
    <button>signup</button>
</form>

<script src="/js/signup.js"></script>